:root {
  --ddgrey: #161616;
  --dgrey: #1e1f1f;
  --lgrey: #313131;
  --llgrey: #565656;
  --dred: #ff1d00;
  --dblue: #5617cb;
  --lblue: #00bd74;
}
/* PERVIOUS
  --dred: #ff1d00;
  --dblue: #4206c2;
*/
